{% extends 'tutor_me/base_main.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% load static %}
{% block content %}
<div class="container-fluid" style="background-color: aliceblue; min-height: 88vh;">
    <h1>{{subject_name}}</h1>

    <form action="{% url 'tutor_me:search_course' course_subject=course_subject %}" method="get">
        <input name="search" type="text" placeholder="Search again for courses..." aria-label="Search" aria-describedby="search-addon" maxlength="100" style="width:400px;">
        <button type="submit" style="background:#4b83ba; color: aliceblue; border:none; border-radius:3px; height: 30px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </button>
    </form>
{%if results_course|length > 0%}
    <div style="column-count : 2">
        {% for course in results_course %}
            <strong>
                <a target="_self" class="dept_button" href="{% url 'tutor_me:courseinteract' course=course %}">{{ course }}</a><br>
            </strong>
        {% endfor %}
    </div>
    {%else%}
    <br>
    <h4>Uh oh... It looks like there are no courses matching "{{query}}" in the {{course_subject}} department. </h4>
    <h6>Please try again with a different keyword or browse our the full list of {{course_subject}} courses.</h6>
    <img src="{% static '' %}Tutor Me/static/tutor_me/images/uploads/tutoring-clipart.png" style="width: 150px; height: 150px; margin-bottom:10px ;"/>
        <br>
        
        <a class=button href="{% url 'tutor_me:courses' course_subject=course_subject %}" style="margin-bottom:30px">View all {{course_subject}} courses</a>
        <br>
    {%endif%}
</div>
{% endblock %}
